iframe {
	border: 0px;
}

.stock-detail-container {

	margin: 30px;
}

.card-filter {
	border-radius: 0 !important;
}

.card-filter .btn-link {
	font-weight: 500 !important;
}

.card-filter .btn {
	font-size: 0.9rem !important;
}

.category-selection-span {

	display: inline-block;
	padding-right: 20px;
}

.list-inline-item.All {

	display: block;
}

.category-items-section {
	padding-left: 20px;
	padding-right: 20px;
}

.stocks-dialog {
	max-width: none;
	width: 80% !important;
}

#categories-tab-content .card-header, #categories-tab-content .card-body {
	padding: 0.5rem 0.6rem !important;
}

#categories-tab-content .card-header .btn {
	padding: 0 0.5rem !important;
}

.stocks-data-container .nav-tabs > a:last-of-type {
  /* right: 0;
  position: absolute; */
  margin-left: 100px;
}

.stocks-data-container .nav-tabs .nav-link:last-of-type:hover, .stocks-data-container .nav-tabs .nav-link:last-of-type:focus {
  border-color: #fff !important;
  border-bottom: #dee2e6 !important;
}
