.connect-live-section .card-header {
  padding: 0px 3px 3px 15px;
  text-align: center;
}

.connect-live-section .card-header button {
  padding: 0;
}

.connect-live-section .card-body {
  text-align: center;
}

.connect-live-section .card-header .btn,  .connect-live-section .card-header .btn-link {
  color: #fff;
  transition: color 1s ease-in-out;
}

.connect-live-section .card-header .btn-link:hover {
  color: #fff;
  text-decoration: underline !important;
}

.connect-live-section .card-header .btn-link:focus {
  color: #fff;
  text-decoration: none;
}

.live-container .nav-tabs > a:last-of-type {
  /* right: 0;
  position: absolute; */
  margin-left: 100px;
}

.live-container .nav-tabs .nav-link:last-of-type:hover, .live-container .nav-tabs .nav-link:last-of-type:focus {
  border-color: #fff !important;
  border-bottom: #dee2e6 !important;
}
